@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgb(247 251 241);
    --background-dim: rgb(236 239 230);
    --foreground: rgb(25 29 23);
    --secondary: rgb(82 99 79);
    --secondary-foreground: rgb(255 255 255);
    --secondary-hover: rgb(102 119 99);
    --card: rgb(213 232 207);
    --card-foreground: rgb(16 31 15);
    --card-hover: rgb(230 233 224);
    --primary: rgb(59 105 58);
    --primary-foreground: rgb(255 255 255);
    --primary-hover: rgb(79 125 78);
    --muted: rgb(243, 244, 247);
    --muted-foreground: rgb(117, 118, 125);
    --muted-hover: rgb(223, 224, 227);
    --destructive: rgb(186 26 26);
    --destructive-foreground: rgb(255 255 255);
    --destructive-hover: rgb(206, 46, 46);
    --border: rgb(194 201 189);
    --scrollbar: rgb(216 219 210);
    --scrollbar-hover: rgb(226 229 220);
    --radius: 0.5rem;
  }

  .dark {
    --background: rgb(16 20 15);
    --background-dim: rgb(29 33 27);
    --foreground: rgb(224 228 219);
    --secondary: rgb(186 204 179);
    --secondary-foreground: rgb(37 52 35);
    --secondary-hover: rgb(206 224 199);
    --card: rgb(37 52 35);
    --card-foreground: rgb(213 232 207);
    --card-hover: rgb(39 43 37);
    --primary: rgb(161 211 154);
    --primary-foreground: rgb(9 57 15);
    --primary-hover: rgb(181 231 174);
    --muted: rgb(243, 244, 247);
    --muted-foreground: rgb(117, 118, 125);
    --muted-hover: rgb(253 254 255);
    --destructive: rgb(255, 118, 118);
    --destructive-foreground: rgb(105 0 5);
    --destructive-hover: rgb(255 200 191);
    --border: rgb(66 73 64);
    --scrollbar: rgb(156 159 150);
    --scrollbar-hover: rgb(186 189 180);
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-sans text-foreground antialiased;
  }

  div,
  p {
    @apply select-none;
  }

  ::-webkit-scrollbar {
    @apply h-2 w-2;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0.25rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 0.25rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-hover);
  }

  .draggable {
    app-region: drag;
    -webkit-app-region: drag;
  }

  .non-draggable {
    app-region: no-drag;
    -webkit-app-region: no-drag;
  }

  .display-linebreak {
    white-space: pre-line;
  }

  .markdown {
    @apply prose prose-neutral !max-w-none select-text dark:prose-invert;
  }

  .markdown div,
  .markdown p {
    @apply !select-text;
  }

  .markdown blockquote {
    @apply !bg-background;
    border-left: 4px solid var(--border) !important;
    margin: 1.5em 10px !important;
  }
  .markdown blockquote p {
    display: inline !important;
  }

  .markdown code {
    @apply !bg-card;
    @apply !text-card-foreground;
    @apply !text-sm;
    @apply !px-1;
  }

  .markdown pre {
    @apply !bg-card;
    @apply !w-full;
    @apply !min-w-0;
    @apply !w-full;
    @apply !rounded-3xl;
    @apply !p-4;
    @apply !overflow-auto;
  }

  .markdown p {
    @apply !text-foreground;
  }
}
