@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(84, 0%, 96%);
    --background-dim: hsl(80, 0%, 90%);
    --acrylic: hsla(80, 0%, 92%, 0);
    --acrylic-hover: hsla(80, 0%, 0%, 0.06);
    --foreground: hsl(100, 0%, 10%);
    --secondary: hsl(111, 11%, 35%);
    --secondary-foreground: hsl(0, 0%, 100%);
    --secondary-hover: hsl(111, 9%, 43%);
    --card: hsl(106, 0%, 92%);
    --card-foreground: hsl(116, 35%, 9%);
    --card-hover: hsl(80, 0%, 85%);
    --primary: hsl(119, 29%, 42%);
    --primary-foreground: hsl(0, 0%, 100%);
    --primary-hover: hsl(119, 23%, 40%);
    --muted: hsl(225, 20%, 96%);
    --muted-foreground: hsl(232, 3%, 47%);
    --muted-hover: hsl(225, 7%, 88%);
    --destructive: hsl(0, 75%, 42%);
    --destructive-foreground: hsl(0, 0%, 100%);
    --destructive-hover: hsl(0, 63%, 49%);
    --border: hsl(95, 0%, 76%);
    --scrollbar: hsla(80, 0%, 0%, 0.06);
    --scrollbar-hover: hsla(80, 0%, 0%, 0.2);
    --radius: 0.5rem;
    --selection: var(--primary-foreground);
    --selection-bg: hsl(120, 17%, 40%);
  }

  .dark {
    --background: hsl(108, 0%, 7%);
    --background-dim: hsl(100, 0%, 10%);
    --acrylic: hsla(100, 0%, 12%, 0.6);
    --acrylic-hover: hsla(100, 0%, 100%, 0.06);
    --foreground: hsl(87, 0%, 88%);
    --secondary: hsl(103, 20%, 75%);
    --secondary-foreground: hsl(113, 20%, 17%);
    --secondary-hover: hsl(103, 29%, 83%);
    --card: hsl(113, 0%, 13%);
    --card-foreground: hsl(106, 0%, 86%);
    --card-hover: hsl(100, 0%, 16%);
    --primary: hsl(113, 39%, 72%);
    --primary-foreground: hsl(128, 73%, 13%);
    --primary-hover: hsl(113, 54%, 79%);
    --muted: hsl(225, 20%, 96%);
    --muted-foreground: hsl(232, 3%, 47%);
    --muted-hover: hsl(210, 100%, 100%);
    --destructive: hsl(0, 100%, 73%);
    --destructive-foreground: hsl(357, 100%, 21%);
    --destructive-hover: hsl(8, 100%, 87%);
    --border: hsl(107, 0%, 27%);
    --scrollbar: hsla(100, 0%, 100%, 0.06);
    --scrollbar-hover: hsla(100, 0%, 100%, 0.2);
    --radius: 0.5rem;
    --selection: var(--primary-foreground);
    --selection-bg: var(--primary);
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: 'HostGrotesk';
    font-kerning: auto;
  }
  body {
    @apply font-sans text-foreground antialiased;
  }

  @font-face {
    font-family: 'HostGrotesk';
    src: url('/assets/HostGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'HostGrotesk';
    src: url('/assets/HostGrotesk-Italic-VariableFont_wght.ttf')
      format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
  }

  div,
  p {
    @apply select-none;
  }

  ::-webkit-scrollbar {
    @apply h-2 w-2;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0.25rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 0.25rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-hover);
  }

  .draggable {
    app-region: drag;
    -webkit-app-region: drag;
  }

  .non-draggable {
    app-region: no-drag;
    -webkit-app-region: no-drag;
  }

  .display-linebreak {
    white-space: pre-line;
    word-break: break-word;
    letter-spacing: 0.02em;
  }

  .markdown {
    @apply prose prose-neutral !max-w-none select-text dark:prose-invert;
    letter-spacing: 0.02em;
  }

  .markdown div,
  .markdown p,
  .markdown ol,
  .markdown ul {
    @apply !mb-0 !select-text;
  }

  .markdown blockquote {
    @apply !bg-background !text-foreground;
    border-left: 4px solid var(--border) !important;
    margin: 1.5em 10px !important;
  }
  .markdown blockquote p {
    display: inline !important;
  }

  .markdown code {
    @apply !bg-background-dim !px-1 !text-sm;
  }

  .markdown pre {
    @apply !w-full !min-w-0 !overflow-auto !rounded-3xl !bg-background-dim !p-4 !text-foreground;
  }

  .markdown p {
    @apply !text-foreground;
  }

  ::selection {
    background-color: var(--selection-bg);
    color: var(--selection);
  }
}
